---
import Layout from "../../../layouts/Layout.astro";
import OrderDetails from "../../../components/history/OrderDetails";

const { id } = Astro.params;
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>Szczegóły zamówienia - zamow.to</title>
  </head>
  <body>
    <Layout title={`Zamówienie ${id}`}>
      <main class="mx-auto max-w-3xl px-4 py-8">
        <OrderDetails client:load orderId={id || ""} />
      </main>
    </Layout>
  </body>
</html>
