---
export const prerender = false;
import AuthLayout from "../../layouts/AuthLayout.astro";
import ResetPasswordForm from "@/components/auth/ResetPasswordForm";
---

<AuthLayout title="Resetuj hasło">
  <h1 class="text-lg font-semibold mb-4">Resetuj hasło</h1>
  <ResetPasswordForm client:load />
</AuthLayout>
