---
export const prerender = false;
import AuthLayout from "../../layouts/AuthLayout.astro";
import UpdatePasswordForm from "@/components/auth/UpdatePasswordForm";
---

<AuthLayout title="Ustaw nowe hasło">
  <h1 class="text-lg font-semibold mb-4">Ustaw nowe hasło</h1>
  <UpdatePasswordForm client:load />
</AuthLayout>
